<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!-- CASA -->
    <add name="DIEFER"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DIEFER;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    <!-- FACULTAD (comentar la de CASA y descomentar esta)
    <add name="DIEFER"
         connectionString="Data Source=090-L3-37-79697\Navegador;Initial Catalog=DIEFER;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <appSettings>
    <!--
      Clave AES-256 (32 bytes en Base64). CAMBIAR antes de producción.
      Generada para desarrollo: "DIEFER_AcademicKey_2026Developer"
    -->
    <add key="ClaveAES" value="RElFRkVSX0FjYWRlbWljS2V5XzIwMjZEZXZlbG9wZXI=" />
  </appSettings>
</configuration>
